---
layout: default
---

<!--
  OK, doing style directly in the div is not recommended,
  but who cares?
-->
<div style="text-align: center; margin-bottom: 40px;">
  <h2><b>WARNING: This site is no longer under active development.</b></h2>
  To read about the Fleet's latest adventures, please visit <a href="https://seventhfleet.substack.com/">https://seventhfleet.substack.com/</a>.
</div>

<H1>Captain's Log</H1>
<ul>
  {% for post in site.categories.logs %}
    <li>
      <p><a href="{{ post.url }}">{{ post.title }} | Region: {{ post.log-region }} | System: {{ post.log-system }} | Location: {{ post.log-location }}</a></p> 
      <p><a href="https://galacticatlas.nomanssky.com/me/{{ post.log-coordinates }}">Coordinates</a></p>
      <article>
      {{ post.excerpt }}
      </article>
    </li>
  {% endfor %}
</ul>